@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Inknut+Antiqua:wght@700;900&family=Island+Moments&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@400;500;600;900&family=Roboto+Condensed&family=Rubik&display=swap");

* {
box-sizing: border-box;
/* margin: 0;
padding: 0; */
}
body {
  background-color: #383838;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
}
